body{

    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/4k1.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    height: 120vh;
     color: white;

}

.logo{
height: 400px;
   width: auto;
   float: left;
   margin-left: -150px;
   margin-top: -300px;   
}

.selfdrive{
     height: 250px;
    width: 250px;
    float: left;
    margin-left: -200px;
    margin-top: 140px;
    color: white;
    font-size: 30px;
}

.bikeicon{
     height: 250px;
    width: 250px;
    float: left;
    margin-left: 0px;
    margin-top: 140px;
    color: white;
    font-size: 30px;
}
.searchCar li {
    display: inline-block;
    width: 200px;
    padding: 0 10px!important;
    font-size: 23px;
}
.form_datetime  {
    height: 20px;
    width: 180px;
    border-color: white;

}
.buttonSubmit{
    height: 30px;
    width: 150px;
    border-color: lightgreen;
}
.form-control{
    height: 25px;
    width: 150px;
     
}
.homedelivery{
    height: 30px;
    margin-top: 20px;
    width: 30px;

}
.aa{
     float: right;
     margin-right: 500px;

}
.colorchange{
    animation:colorchangeak 2s infinite;
}
    @keyframes colorchangeak{ 
    0%{color: red;}
    25%{color: white;}
    50%{color: orange;}
    100%{color: skyblue;}
}

.base{
    height: 0px;
    width: 0px;
    object-fit: 100px;
}

element.style {
}
@media (max-width: 991px)
.searchCar li {
    padding: 0 5px!important;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.searchCar {
    display: inline-block;
    list-style: none;
    width: 1068px;
    margin: 0 auto;
    padding: 20px 0!important;
    max-width: 100%;
}
ul {
    list-style: none;
    padding: 0!important;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.contentSection {
    text-align: center;
    position: relative;
}
