*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

}
.body{

    font-size: 30px;
    overflow-x: hidden;
    color: white;
}
.header {
  background-image: url("../images/bike-tariff-banner.png");
  padding: 120px;
  text-align: center;
  font-size: 50px;
  color:white;
}
.logo
{
   height: 400px;
    width: 50%;
    float: left;
    margin-left: -250px;
    margin-top: -200px; 
}
ul.a li
{
    display: inline;
    margin-left: 50px;
    float:right;
    font-weight: bold;
      color: #ffffff;
    font-size: 25px;
  }
  h1
  {
    font-size: 21px;
  }
   h2
  {
    font-size: 21px;
  }
   h3
  {
    font-size: 21px;
  }
   h4
  {
    font-size: 21px;
  }
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
.tablinks 
{
  background-color:green;
  color: white;
  margin-left:  px;
  border:1px solid green;
  outline: none;
  cursor: pointer;
  padding-top: 10px;
  padding: 15px 15px;
  font-size: 17px;
  width: 100%;
  -webkit-column-count: 2;
}

.tablink:hover {
  background-color: ;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0px 150px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.container{
    width: 100%;
    overflow: hidden;
    background: lightgrey;
    margin: 0px auto;
    padding: 20px;
}
.container ul{
    margin: 0px;
    padding: 0px;
}
.container ul li{
    list-style: none;
    float: left;
    padding: 10px 20px;
    width: 26.5%;
    height: 330px;
    background:grey;
    margin: 40px 40px 0px 55px;
}
  .contac
  {
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-style: italic;
    justify-content: center; 
    text-align:left;
    padding: 10px;
    float: right;
    margin-right: 200px;
    margin-left: 200px;
}
.a li a
{
  color: white;
  text-decoration: none;
     text-transform: uppercase; 
     font-size: 20px;
}
.a li a:hover{
  border-bottom: 2px solid #fff;
}