*{
	margin: 0px;
	padding: 0px;
	color: #fff;

}
body{
	font-size: 120%;
	background:#F8F8FF;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/12.jpg');
    background-size: cover;
         background-repeat: no-repeat; 
         background-position: center;
}
.header{
	width: 30%;
	margin: 50px auto 0px;
	color: #fff;
	text-align: center;
	border:1px solid #fff;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form{
	width: 30%;
	margin: 0px auto;
	padding: 20px;
	border:1px solid #fff;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}
.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input{
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
}
.btn{
	height: 30px;
	width: 20%;
	
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #5F9EA0;
	border:none;
	border-radius: 5px;
}
.error{
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border:1px solid #fff;
	border-radius: 5px;
	text-align: left;
}
a {
	color: red;
}